// app global css in SCSS form

.q-layout__section--marginal {
    background: white;
}

.q-page {
    padding: 15px;
}

.error-message {
    padding: 10px;
    color: #ffffff;
    background: #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.fan-color {
    color: red;
}


.power-color {
    color: red;
}

.log-message {
    white-space: pre-wrap; /* Preserve line breaks and wrap text */
    word-break: break-word;
}
